<section id="about" class="about section">
  <div class="container section-title" data-aos="fade-up">
    <h2>Sobre</h2>
    <p>A Ivorya Soluções é uma empresa inovadora, dedicada a fornecer soluções tecnológicas personalizadas para grandes empresas, aumentando a eficiência e a produtividade de seus processos.</p>
  </div>
  <div class="container">
    <div class="row gy-5">
      <div class="content col-xl-5 d-flex flex-column" data-aos="fade-up" data-aos-delay="100">
        <h3>Transformando desafios em soluções inovadoras</h3>
        <p>
          A Ivorya Soluções se especializa em desenvolver sistemas personalizados e soluções tecnológicas de ponta. Nossa equipe é formada por especialistas com vasta experiência em diversas áreas, o que nos permite entregar resultados excepcionais para nossos clientes.
        </p>

        <!-- Resumo da Empresa -->
        <!-- <div class="company-overview">
          <h4>Missão</h4>
          <p>{{ companyOverview.mission }}</p>

          <h4>Visão</h4>
          <p>{{ companyOverview.vision }}</p>

          <h4>Valores</h4>
          <ul>
            <li *ngFor="let value of companyOverview.values">{{ value }}</li>
          </ul>
        </div> -->

        <a [routerLink]="['/sobre']" class="about-btn align-self-center align-self-xl-start"><span>Sobre nós</span> <i class="bi bi-chevron-right"></i></a>
      </div>
      <div class="col-xl-7" data-aos="fade-up" data-aos-delay="200">
        <div class="row gy-4">
          <!-- Exibindo os serviços -->
          <div *ngFor="let service of services" class="col-md-6 icon-box position-relative">
            <i [class]="service.icon"></i>
            <h4><a href="" class="stretched-link">{{ service.title }}</a></h4>
            <p>{{ service.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
