<section id="sobre" class="sobre section">
    <div class="container section-title" data-aos="fade-up">
        <h2>Sobre</h2>
        <p> A {{empresa}} é uma líder inovadora no setor de tecnologia, especializada no desenvolvimento de soluções
            personalizadas para negócios de todos os portes. Fundada com o objetivo de transformar a maneira como as
            empresas utilizam a tecnologia, buscamos sempre não só atender, mas superar as expectativas dos nossos
            clientes.</p>
        <p>Com uma equipe altamente qualificada, comprometida com a inovação constante e a excelência, entregamos
            soluções que promovem a evolução digital das empresas. Desde o desenvolvimento de software até a
            implementação e suporte contínuo, estamos focados em entregar sempre a melhor experiência aos nossos
            clientes.</p>
    </div>

    <!-- Missão, Visão e Valores -->
    <div class="container valores">
        <div class="row">
            <div class="col-md-4">
                <h3>Missão</h3>
                <p>Proporcionar soluções tecnológicas personalizadas que atendem às necessidades de nossos clientes,
                    agregando valor e experiência única em cada projeto realizado.</p>
            </div>
            <div class="col-md-4">
                <h3>Visão</h3>
                <p>Ser uma referência global em inovação e qualidade, oferecendo soluções inteligentes e ágeis que
                    impulsionam o sucesso e a transformação digital das empresas.</p>
            </div>
            <div class="col-md-4">
                <h3>Valores</h3>
                <ul>
                    <li><strong>Inovação:</strong> Estar à frente das tendências do mercado com novas tecnologias.</li>
                    <li><strong>Qualidade:</strong> Entregar resultados que atendem aos mais altos padrões do setor.
                    </li>
                    <li><strong>Transparência:</strong> Manter comunicação aberta e honesta com todos os envolvidos.
                    </li>
                    <li><strong>Empatia:</strong> Colocar as necessidades do cliente em primeiro lugar, buscando sempre
                        entender suas reais demandas.</li>
                    <li><strong>Responsabilidade Social:</strong> Contribuir para a melhoria social com iniciativas de
                        bem-estar coletivo.</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Sobre a Fundadora -->
    <div class="container fundadora">
        <h3>Sobre a Fundadora</h3>

        <div class="team container">
            <div class="row gy-4 d-flex justify-content-center">
                <div class="col-lg-5 col-md-6 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                    <div class="team-member text-center">
                        <div class="member-img">
                            <img src="assets/img/team/perfil-new.jpg" class="img-fluid"
                                alt="Izabela Apolinário - Fundadora da Izabela Soluções">
                            <div class="social">
                                <a href="https://www.instagram.com/apolinario_izabela_/?hl=pt_BR" title="Instagram"><i
                                        class="bi bi-instagram"></i></a>
                                <a href="https://www.linkedin.com/in/izabela-apolin%C3%A1rio-241111229/"
                                    title="LinkedIn"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Izabela Apolinário</h4>
                            <span>Fundadora da Izabela Soluções | Especialista em Desenvolvimento de Sistemas Personalizados</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <br>   <br>
        <p>A nossa jornada começa com Izabela, fundadora e visionária por trás da {{empresa}}. Com 21 anos, sempre teve
            um espírito inovador e a paixão por transformar o mercado de software. Sua trajetória é marcada pela
            determinação e pelo desejo de impactar positivamente o mundo ao seu redor, o que a levou a fundar a empresa
            com o propósito de criar soluções inteligentes e personalizadas para atender as necessidades reais das
            empresas.</p>
        <p>Com uma sólida formação em tecnologia e experiência prática na área, Izabela traz um olhar atento para a
            evolução digital e um compromisso com a qualidade e a inovação. Sua missão é transformar as demandas atuais
            do mercado, antecipando as necessidades futuras das empresas, criando um ambiente de inovação constante e
            crescimento.</p>
        <!-- <p>A {{empresa}} será inaugurada no dia 10 de agosto de 2025 e começará sua jornada com uma visão clara de
            transformação digital e impacto positivo. Com o compromisso de oferecer soluções ágeis, inteligentes e de
            alto impacto, a fundadora está determinada a levar a empresa a novos horizontes, focada na criação de valor
            para os clientes e na evolução constante.</p> -->
    </div>
</section>