/* Estilo geral da seção sobre */
.sobre {
    padding: 80px 0;
    background-color: #f7f7f7;
    font-family: 'Roboto', sans-serif;
    margin-top: 5%;
  }
  
  .sobre .section-title {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .sobre h2 {
    font-size: 48px;
    font-weight: 700;
    color: #1f1f1f;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  
  .sobre p {
    font-size: 18px;
    color: #6d6d6d;
    line-height: 1.8;
    text-align: justify;
    margin-bottom: 25px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-indent: 30px;
  }
  
  /* Missão, Visão e Valores */
  .sobre .valores {
    margin-top: 50px;
    padding: 20px;
    background-color: #b6ddc7;
    box-shadow: 0 10px 9px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .sobre .row h3 {
    font-size: 26px;
    font-weight: 600;
    color: #0056b3;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .sobre .row p {
    font-size: 16px;
    color: black;
    line-height: 1.6;
  }
  
  .sobre .row ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sobre .row ul li {
    font-size: 16px;
    color: black;
    padding: 10px 0;
  }
  
  .sobre .fundadora h3 {
    font-size: 36px;
    color: #0056b3;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold; /* Adicionei negrito */
    text-transform: uppercase; /* Transformei o texto em maiúsculas */
    letter-spacing: 1px; /* Adicionei espaçamento entre letras */
    background: linear-gradient(to right, #0056b3, #3dce8f); /* Adicionei um gradiente ao texto */
    -webkit-background-clip: text; /* Para aplicar o gradiente ao texto */
    color: transparent; /* Para aplicar o gradiente ao texto */
  }
  
  .sobre .fundadora p {
    font-size: 18px;
    color: #333;
    line-height: 1.8;
    margin-bottom: 25px;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .sobre h2 {
      font-size: 36px;
    }
  
    .sobre p {
      font-size: 16px;
    }
  
    .sobre .row {
      text-align: center;
    }
  
    .sobre .row h3 {
      font-size: 24px;
    }
  
    .sobre .row ul li {
      font-size: 14px;
    }
  }
  


  