.botao-destaque {
  display: inline-block; 
  padding: 10px 20px; 
  font-size: 15px;
  font-weight: bold;
  border: 2px solid #3dce8f; 
  border-radius: 50px;
  cursor: pointer;
  transition: border-color 0.3s ease, transform 0.3s ease; 
}

.botao-destaque:hover {
  border-color: gold; 
  transform: scale(1.1); }

@media (min-width: 1200px) {
    .navmenu li:last-child a.botao-destaque {
      padding-right: 20px; 
    }
  }



.navmenu ul.show {
  display: block;
  background-color: #fff; 
  padding: 10px 0;
  margin: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.mobile-nav-toggle {
  font-size: 28px;
  cursor: pointer;
  transition: color 0.3s;
}


.mobile-nav-toggle.bi-x {
  color: #fff;
}


.mobile-nav-active .navmenu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-nav-active .navmenu ul {
  display: block;
  text-align: center;
}

.mobile-nav-active .mobile-nav-toggle {
  color: #fff;
}


  