<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
    <!-- Logo e Nome da Empresa -->
    <a href="index.html" class="logo d-flex align-items-center">
      <img src="assets/img/logo.png" alt="Logo Ivorya Soluções Digitais">  
      <h1 class="sitename">Ivorya Soluções Digitais</h1>
    </a>

 
    <nav id="navmenu" class="navmenu">
      <ul>
        <!-- class="active" -->
        <li><a href="#hero">Início</a></li>
        <li><a href="#about">Sobre</a></li>
        <li><a href="#services">Serviços</a></li>
        <li><a href="#portfolio">Portfólio</a></li>
        <!-- <li><a href="#team">Equipe</a></li> -->

        <!-- Dropdown para "Soluções" -->
        <!-- <li class="dropdown">
          <a href="#"><span>Soluções</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            <li><a href="#">Consultoria em TI</a></li>
            <li><a href="#">Desenvolvimento Sob Medida</a></li>
            <li><a href="#">Integração de Sistemas</a></li>
            <li><a href="#">Suporte e Manutenção</a></li>
          </ul>
        </li> -->

        <li><a href="#/contato" class="botao-destaque">Contato</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"  (click)="toggleMobileNav()"></i>
    </nav>
  </div>
</header>
