<section id="team" class="team section">
  <div class="container section-title" data-aos="fade-up">
    <h2>Conheça Nossa Fundadora</h2>
    <p>Izabela Apolinário é a força por trás da Izabela Soluções, especializada em criar soluções tecnológicas personalizadas para otimizar processos e impulsionar o crescimento de empresas. Com foco na inovação, ela lidera a criação de sistemas que atendem às necessidades específicas de cada cliente.</p>
  </div>

  <div class="container">
    <div class="row d-flex justify-content-center">

      
      <div class="col-lg-4 col-md-6 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
        <div class="team-member text-center">
          <div class="member-img">
            <img src="assets/img/team/perfil-foto.jpg" class="img-fluid" alt="Izabela Apolinário - Fundadora da Izabela Soluções">
            <div class="social">
              <a href="https://www.instagram.com/apolinario_izabela_/?hl=pt_BR" title="Instagram"><i class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/in/izabela-apolin%C3%A1rio-241111229/" title="LinkedIn"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Izabela Apolinário</h4>
            <span>Fundadora da Izabela Soluções | Especialista em Desenvolvimento de Sistemas Personalizados</span>
          </div>
        </div>
      </div>

      
    </div>
  </div>
</section>