<section id="team" class="team section">
  <div class="container section-title" data-aos="fade-up">
    <h2>Conheça Nosso Time</h2>
    <p>Nosso time é formado por profissionais dedicados e apaixonados por tecnologia. Criamos soluções personalizadas
      para otimizar processos e impulsionar o crescimento das empresas, sempre com foco na inovação e nas necessidades
      específicas de cada cliente.</p>
  </div>

  <div class="container">
    <div class="row d-flex justify-content-center">

      
      <div class="col-lg-4 col-md-6 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">
        <div class="team-member text-center">
          <div class="member-img">
            <img src="assets/img/team/perfil-foto.jpg" class="img-fluid" alt="Roberto Carlos - Atendimento e Inovação">
            
          </div>
          <div class="member-info">
            <h4>Roberto Carlos</h4>
            <span>Gerente de Atendimento ao Cliente e Inovação</span>
          </div>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
        <div class="team-member text-center">
          <div class="member-img">
            <img src="assets/img/team/perfil-foto.jpg" class="img-fluid" alt="Izabela Apolinário - Fundadora da Ivorya Soluções">
            <div class="social">
              <a href="https://www.instagram.com/apolinario_izabela_/?hl=pt_BR" title="Instagram"><i class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/in/izabela-apolin%C3%A1rio-241111229/" title="LinkedIn"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Izabela Apolinário</h4>
            <span>Fundadora da Ivorya Soluções | Especialista em Desenvolvimento de Sistemas Personalizados</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="300">
        <div class="team-member text-center">
          <div class="member-img">
            <img src="assets/img/team/perfil-foto.jpg" class="img-fluid" alt="Lucilene Santos - Inovação e Marketing">
          </div>
          <div class="member-info">
            <h4>Lucilene Santos</h4>
            <span>Coordenadora de Inovação e Marketing Digital</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>