<section id="services" class="services section light-background">
  <div class="container section-title" data-aos="fade-up">
    <h2>Serviços</h2>
    <p>Oferecemos soluções inovadoras e personalizadas para empresas de diversos setores, com o objetivo de otimizar processos e maximizar resultados.</p>
  </div>
  <div class="container">
    <div class="row gy-4">
      <div 
        class="col-lg-4 col-md-6 service-item d-flex" 
        data-aos="fade-up" 
        *ngFor="let service of services; let i = index" 
        [attr.data-aos-delay]="(i + 1) * 100"
      >
        <div class="icon flex-shrink-0">
          <i [class]="service.icon"></i>
        </div>
        <div>
          <h4 class="title">
            <a href="javascript:void(0)" class="stretched-link" (click)="openModal(service)" data-bs-toggle="modal" data-bs-target="#serviceModal">
              {{ service.title }}
            </a>
          </h4>
          <p class="description">{{ service.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<app-service-detalhes 
  *ngIf="selectedService" 
  [service]="selectedService" 
  (close)="closeModal()">
</app-service-detalhes>