<section id="hero" class="hero section dark-background">
    <img src="../../../assets/img/hero-bg.jpg" alt="" data-aos="fade-in">
    <div class="container text-center" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <h2>Easy start with Vlava</h2>
          <p>We are team of talented designers making websites with Bootstrap</p>
          <a href="#about" class="btn-get-started">Get Started</a>
        </div>
      </div>
    </div>
  </section>