<section id="hero" class="hero section dark-background">
  <img src="assets/img/fundo.jpg" alt="Imagem de fundo" data-aos="fade-in">
  <div class="container text-center" data-aos="fade-up" data-aos-delay="100">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-12">
        <h2>Tecnologia que Transforma</h2>
        <br>
        <p>Inovação e eficiência para transformar sua empresa com tecnologia sob medida, otimizando processos e gerando resultados reais.</p>
        <a href="#about" class="btn-get-started">Saiba Mais</a>
      </div>
    </div>
  </div>
</section>
