<section id="faq" class="faq section light-background">
  <div class="container section-title" data-aos="fade-up">
    <h2>Perguntas frequentes</h2>
    <p>Confira as respostas para as dúvidas mais comuns sobre nossos serviços.</p>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="faq-container">
          <div *ngFor="let item of faqItems; let i = index" class="faq-item" 
               [class.faq-active]="i === activeIndex" 
               data-aos="fade-up" 
               [attr.data-aos-delay]="200 + (i * 100)"
               (click)="toggleFAQ(i)">
            <i class="faq-icon bi bi-question-circle"></i>
            <h3>{{ item.question }}</h3>
            <div class="faq-content" *ngIf="i === activeIndex">
              <p>{{ item.answer }}</p>
            </div>
            <i class="faq-toggle bi" 
               [ngClass]="{'bi-chevron-down': i === activeIndex, 'bi-chevron-right': i !== activeIndex}"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
