<section id="testimonials" class="testimonials section dark-background">
  <!-- Imagem de fundo dos depoimentos -->
  <img src="assets/img/testimonials-bg.jpg" class="testimonials-bg" alt="Background dos depoimentos">

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <!-- Título e descrição da seção -->
    <div class="section-title text-center">
      <h2>O que dizem sobre a Ivorya Soluções Digitais</h2>
      <p>Veja como nossa expertise e soluções inovadoras têm transformado empresas e potencializado seus resultados.</p>
    </div>
    
    <div class="testimonial-wrapper">
      <!-- Exibição do Testemunho -->
      <div class="testimonial-item" *ngIf="testimonials.length > 0">
        <img [src]="testimonials[currentIndex].image" class="testimonial-img" alt="Foto de {{testimonials[currentIndex].name}}">
        <h3>{{testimonials[currentIndex].name}}</h3>
        <h4>{{testimonials[currentIndex].position}}</h4>
        <div class="stars">
          <i class="bi bi-star-fill" *ngFor="let star of [1, 2, 3, 4, 5]"></i>
        </div>
        <p>
          <i class="bi bi-quote quote-icon-left"></i>
          <span>{{testimonials[currentIndex].feedback}}</span>
          <i class="bi bi-quote quote-icon-right"></i>
        </p>
      </div>

      <!-- Navegação -->
      <div class="swiper-pagination"></div> <!-- Para manter a classe do swiper-pagination -->
    </div>
  </div>
</section>
